.html5-video-player:not(.ytp-fullscreen) .ytp-chrome-bottom,
.html5-video-player:not(.ytp-fullscreen).ytp-autohide .ytp-chrome-bottom {
  opacity: 1 !important;
  display: flex !important;
  transform: translateY(0) !important;
}

.html5-video-player:not(.ytp-fullscreen) .ytp-gradient-bottom,
.html5-video-player:not(.ytp-fullscreen).ytp-autohide .ytp-gradient-bottom {
  opacity: 1 !important;
  display: block !important;
}

.html5-video-player:not(.ytp-fullscreen) .ytp-progress-bar-container {
  pointer-events: auto !important;
}

.html5-video-player:not(.ytp-fullscreen) .ytp-play-progress,
.html5-video-player:not(.ytp-fullscreen) .ytp-scrubber-container {
  display: block !important;
}

.html5-video-player:not(.ytp-fullscreen) .ytp-progress-list {
  pointer-events: auto !important;
}
